.skills-area {

    padding: 0 20%;
}

.skill {
    position: relative;
    /* margin-bottom: 40px; */
    background-color: white;
}

.skill-title {
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
}
.hiddene {
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100%);
    filter: blur(5px);
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.skill-bar {
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    height: 40px;
    z-index: -1;
    border-radius: 100px;
    position: absolute;
}

.skill-fill {
    background: blue;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    overflow: hidden;
}

.skill-percent {
    font-size: 30px;
}

.html {
    animation: html 2s;
    width: 95%;
}
.indo {
    animation: html 2s;
    width: 100%;
}

.css {
    animation: css 2s;
    width: 90%;
}

.js {
    animation: js 2s;
    width: 70%;
}

@keyframes indo {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}
.eng {
    animation: eng 2s;
    width: 85%;
}
.man {
    animation: js 2s;
    width: 70%;
}

@keyframes eng {
    from {
        width: 0;
    }

    to {
        width: 85%;
    }
}
.sql {
    animation: sql 2s;
    width: 85%;
}

@keyframes sql {
    from {
        width: 0;
    }

    to {
        width: 85%;
    }
}
.php {
    animation: php 2s;
    width: 30%;
}

@keyframes php {
    from {
        width: 0;
    }

    to {
        width: 30%;
    }
}
@keyframes man {
    from {
        width: 0;
    }

    to {
        width: 70%;
    }
}
@keyframes html {
    from {
        width: 0;
    }

    to {
        width: 95%;
    }
}

@keyframes css {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}

@keyframes js {
    from {
        width: 0;
    }

    to {
        width: 70%;
    }
}

@media only screen and (max-width: 750px) {
    .skills-area {
        padding: 0 5%;
    }
}